@model IEnumerable<AdminInterface.Models.Course>
@using Microsoft.AspNetCore.Identity            @*Make it possible to access tó user login info*@
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@{
    ViewData["Title"] = "Index";

}

<h1>Kurser</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create"><i class="bi bi-plus-circle"></i> Skapa nytt </a>
    </p>
}

<div id="index">
    @foreach (var item in Model)
    {
        <div class="tables">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Prograssion)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Prograssion)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Start)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.CreateAt)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                </tr>
                <tr>
                    <a id="edit" asp-action="Edit" asp-route-id="@item.Id"><i class="bi bi-pencil-square"></i> Redigera</a> |
                    <a id="detail" asp-action="Details" asp-route-id="@item.Id"><i class="bi bi-arrow-right-square"></i> Detalj</a> |
                    <a id="delete" asp-action="Delete" asp-route-id="@item.Id"><i class="bi bi-trash3"></i>Radera</a>



                </tr>
            </table>
        </div>
    }
</div>
