@using Microsoft.AspNetCore.Identity
@model IEnumerable<AdminInterface.Models.Project>
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1 id="title-center"> Projekt</h1>
@if (SignInManager.IsSignedIn(User))
{
    <p>
        <a asp-action="Create"><i class="bi bi-plus-circle"></i> Skapa nytt </a>
    </p>
}
<div id="index">
    @foreach (var item in Model.Reverse())
    {
        <div class="tables">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>

                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                </tr>
                <tr class="description">
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <td>
                        @Html.Raw(item.Description)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Url)
                    </th>
                    <td>
                        <a href="@Html.DisplayFor(modelItem => item.Url)" target="_blank"><i class="bi bi-box-arrow-up-right"></i>Projekt länk</a>
                    </td>
                </tr>

                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ImageName)
                    </th>
                    <td>
                        <img class="project-img" src="/images/thumb_@Html.DisplayFor(modelItem => item.ImageName)"  alt="bilder för projekt som utfördes"/>

                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.CreateAt)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                </tr>
                <tr class="menus">
                    <td class="menu">
                        <a asp-action="Edit" asp-route-id="@item.Id"><i class="bi edit bi-pencil-square"></i> Redigera</a> |
                        <a asp-action="Details" asp-route-id="@item.Id"><i class="bi detail bi-arrow-right-square"></i> Detalj</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id"><i class="bi delete bi-trash3"></i>Radera</a>
                    </td>
                </tr>

            </table>
        </div>
    }
</div>