@model IEnumerable<AdminInterface.Models.Job>

@{
    ViewData["Title"] = "Index";
}

<h1 id="title-center"> Arbetslivserfarenhet</h1>

<p>
    <a asp-action="Create"><i class="bi bi-plus-circle"></i> Skapa nytt </a>
</p>
<div id="index">
    @foreach (var item in Model.Reverse())
    {
        <div class="tables">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Title)
                    </th>

                    <td>
                        @Html.DisplayFor(modelItem => item.Title)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Place)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Place)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Start)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.Start)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.End)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.End)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.CreatedBy)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedBy)
                    </td>
                </tr>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => item.CreateAt)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreateAt)
                    </td>
                </tr>
                <tr class="menus">
                    <td class="menu">
                        <a  asp-action="Edit" asp-route-id="@item.Id"><i class="bi edit bi-pencil-square"></i> Redigera</a> |
                        <a  asp-action="Details" asp-route-id="@item.Id"><i class="bi detail bi-arrow-right-square"></i> Detalj</a> |
                        <a  asp-action="Delete" asp-route-id="@item.Id"><i class="bi delete bi-trash3"></i>Radera</a>
                    </td>


                </tr>



            </table>
        </div>
    }
</div>